mendoenv/
__pycache__/
*.pyc
instance/
.env
.DS_Store

# Ignore all contents inside these folders
data/raw/*
data/processed/*

# But don't ignore the actual folders
!data/raw/.gitkeep
!data/processed/.gitkeep