<div id="login" class="auth">
    <div class="content">
        <span class="close" data-close="login">&times;</span>
        <div class="logo1">
            <img src="../static/logo.png">
            <br />
            Welcome to <b>Recommendo</b> <br />Your next favorite book is just a click away.
        </div>
        <form>
            <div class="container1">
                <h2>Log In</h2>

                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="pwd"><b>Password</b></label>
                <input type="password" placeholder="********" name="pwd" required>

                <button type="submit">Log In</button>

            </div>
        </form>
    </div>
</div>

<div id="signup" class="auth">
    <div class="content">
        <span class="close" data-close="signup">&times;</span>
        <div class="logo1">
            <img src="../static/logo.png">
            Welcome to <b>Recommendo</b> <br />Your next favorite book is just a click away.
        </div>
        <form>
            <div class="container2">
                <h2>Sign Up</h2>

                <label for="mail"><b>Email</b></label>
                <input type="email" placeholder="example@email.com" name="mail" required>

                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="pwd"><b>Password</b></label>
                <input type="password" placeholder="********" name="pwd" required>

                <label for="pwd-conf"><b>Confirm Password</b></label>
                <input type="password" placeholder="********" name="pwd-conf" required>

                <button type="submit">Sign Up</button>

            </div>
        </form>
    </div>
</div>